/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 26, 2019, 10:44:21 PM
    Author     : Norm
*/


@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Nothing+You+Could+Do|Open+Sans:400,600,700');
@import url("https://use.typekit.net/cav8sep.css");
@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans:400,400i,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chilanka|Raleway:400,700&display=swap');
$celadon:      #E0F1ED;
$manilla:      rgb(2, 2, 1);
$brown:        #957A2B;
$orange:       #FAAE0A;
$muslin:       #E0AA0A;
$black:        #000000;
$holisticRed:  #703015;
$orange2:      #ffa500;
$nothing:      #956039;
$acumen:       #756937;
$openSans:     #99753b;
$brownGold:    #957a2b;
$menu-background-color: #13534C;
$font-openSans:     'Open Sans', sans-serif;
$font-montserrat:   'Montserrat', sans-serif;
$font-nothing:      'Nothing You Could Do', cursive;
$font-acumin-wide:  acumin-pro-wide, sans-serif;
$font-acumin:       acumin-pro, sans-serif;
$font-marydale:     marydale, sans-serif;
$banner-height: 120px; //140px;

.html {
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    box-sizing: border-box;

}
* {
    box-sizing: border-box;
  }

@mixin min-width-mixin($arg) {
    @media screen and (min-width: $arg ) {
        @content;
    }
}

@mixin min-max-width-mixin($arg1, $arg2) {
    @media screen and (min-width: $arg1 ) and (max-width: $arg2) {
        @content;
    }
}

@mixin max-width-mixin($arg) {
    @media screen and (max-width: $arg ) {
        @content;
    }
}

@mixin max-height-mixin($arg) {
    @media screen and (max-height: $arg ) {
        @content;
    }
}

@mixin min-height-mixin($arg) {
    @media screen and (min-height: $arg ) {
        @content;
    }
}


// @media screen and (color), print and not (color) {...}
// @media (min-width: 640px) and (max-width: 767px) {...}
// @media (max-width: 639px), (min-width: 768px) {...}

@mixin min-ht-or-wt-mixin($arg) {
    @media screen and (min-width: $arg ) , (min-height: $arg ){
        @content;
    }
}

@mixin max-ht-or-wt-mixin($arg) {
    @media screen and (max-width: $arg ) , (max-height: $arg ){
        @content;
    }
}

.menu-icon > .line {
    background-color: #292929;
    height: 2px;
    display: block;
    width: 75px;
    @include max-width-mixin(700px) {
        width: 60px;
    }    
    @include max-width-mixin(600px) {
        width: 45px;
    }    

}
.menu-icon > .line + .line {
    margin-top: 8px;
}


@font-face {
    font-family: Zapfino;
    /*src: url("../fonts/Zapfino.woff");*/
    /*src: url("../fonts/LinotypeZapfino.ttf");*/
    src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-One.otf");
    /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-Two.otf");*/
    /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-Three.otf");*/
    /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-Four.otf");*/
    /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-Alternate.otf");*/
    /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-Ligatures.otf");*/
    /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-Ornaments.otf");*/
    /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-SmallCaps.otf");*/
    /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLTPro.otf");*/
    /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoForteLT-Alternate.otf");*/
    /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoForteLT-One.otf");*/
    /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoForteLTPro.otf");*/
}

@font-face {
    font-family: Parisienne;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/parisienne-regular.ttf");
}

@font-face {
    font-family: Papyrus;
    font-style: normal;
    font-weight: normal;
    /*src: local('Papyrus'), url('../fonts/PAPYRUS.TTF') format('ttf');*/
    src: url("../fonts/PAPYRUS.TTF");
}

/* #### Generated By: http://www.cufonfonts.com #### */
@font-face {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Acumin Pro'), url('../fonts/Acumin-RPro.woff') format('woff');
}

@font-face {
    font-family: 'Acumin Pro Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Acumin Pro Italic'), url('../fonts/Acumin-ItPro.woff') format('woff');
}

@font-face {
    font-family: 'Acumin Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Acumin Pro Bold'), url('../fonts/Acumin-BdPro.woff') format('woff');
}

@font-face {
    font-family: 'Acumin Pro Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Acumin Pro Bold Italic'), url('../fonts/Acumin-BdItPro.woff') format('woff');
}

/*
font-family: 'Major Mono Display', monospace;
font-family: 'Open Sans', sans-serif;
*/

%font-page-title-light {
    font-family: Arial;
    color: #703015;
}

%font-credit-brand {
    font-family: 'Major Mono Display', monospace;
}

%font-credit-name {
    font-family: 'Open Sans', sans-serif;
}

%font-credit-tagline {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

%font-footer-copy {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

//H1 	Zapfino 14 pt, 19 px $brownGold
%font-h1 {
    font-family: Zapfino, arial;
    font-size: 120px;
    @include max-width-mixin(1000px) {
        font-size: 80px;
        /*color: red;*/
        /*padding-top: 25px;*/
    }    
    /*    @include max-width-mixin(650px) {
          font-size: 64px;
          color: blue;
        }    */
    @include max-width-mixin(700px) {
        /*font-size: 64px;*/
        /*color: green;*/
        padding-top: 0px;
        padding-bottom: 0px;
    }    
    color: $brownGold;
}

%font-h2 {
    font-family: Papyrus;
    font-size: 64px;
    color: $holisticRed;
}

%font-h3 {
    font-family: $font-nothing;
    font-size: 48px;
    color: $nothing;
}

%font-header2 {
    /*Header 2	Acumin Pro 48 pt, 64 px, Holistic Red #703015, Centered*/ 
    font-family: 'Acumin Pro';
    color: #703015;
}

%font-header5 {
    /*Header 5	Acumin Pro Wide 36 pt, 48 px, Holistic Red #703015 centered*/
    //    font-family: 'Acumin Pro Wide';
    font-family: 'Acumin Pro';
    color: #703015;
}

%font-header6 {
    /*Header 6	Acumin Pro Wide Medium 24 pt, 36 px #83653b @ 100%*/
    //    font-family: 'Acumin Pro Wide';
    font-family: 'Acumin Pro';
    color: #83653b;
}

%font-header7 {
    /*Header 6	Acumin Pro Wide Medium 24 pt, 36 px #83653b @ 100%*/
    //    font-family: 'Acumin Pro Wide';
    font-family: 'Acumin Pro';
    color: #957a2b;
}

%font-quote2 {
    /*Quote 2 Bilbo Swash Caps 36 pt, 48 px, 300%, #83653b*/
    font-family: 'Bilbo Swash Caps', cursive;
    color: #83653b;
} 

%font-quote3 {
    /*Quote 3 	Bilbo Swash Caps 60 pt, 80px, Holistic Red #703015*/  
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 55px;
    color: $holisticRed;
} 

%font-paragraph1 {
    /*Paragraph 1		Acumin Pro Wide 24 pt, 36 px holistic red  #703015 at 75%*/
    font-family: 'New Times Roman';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #703015;
    /*letter-spacing: 2.5px;*/
}

%font-paragraph2 {
    /*Paragraph 2		Acumin Pro 24 pt, 36 px  #000000 at 75% justify left*/
    font-family: 'Acumin Pro';
    color: #000000;
}


%font-paragraph3 {
    /*Paragraph 3     Acumen Pro Wide Light 24 pt, 36 px # Holistic Red #703015*/
    font-family: 'Acumin Pro Italic';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #703015;
    letter-spacing: 2.5px;
    span {
        text-align: right;
    }
    @include max-width-mixin(400px) {
        font-size: 16px;
        width: 100%;
    }
}

%font-paragraph4 {
    /*Paragraph 3     Acumen Pro Wide Light 24 pt, 36 px # Holistic Red #703015*/
    font-family: $font-openSans;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #703015;
    letter-spacing: 2.5px;
    span {
        text-align: right;
    }
    @include max-width-mixin(400px) {
        font-size: 16px;
        width: 100%;
    }
}

%font-paragraph7 {
    /*Header 7	Acumin Pro Wide Regular 72 pt, 	brown gold #957a2b*/
    /*font-family: 'Acumin Pro Wide';*/
    font-family: 'Acumin Pro';
    // font-family: 'Arial';
    color: #957a2b
}

%font-paragraph8 {
    /*Paragraph 8 	Acumin Pro Wide Italic 24 pt, 36 px #83653b @ 100% justify left*/
    font-family: 'Acumin Pro Italic';
    color: #83653b;
}

%font-paragraph9 {
    padding-right: 10px;
    /*Paragraph 9 	Acumen Pro Regular 24 pt, 36 px. # 83653b*/
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #83653b;
    @include max-width-mixin(400px) {
        font-size: 16px;
        width: 100%;
    }
}


//'Acumen Wide Pro Light'
%font-h4 {
    font-family: $font-acumin-wide;
    font-size: 32px;
    font-weight: 300;
    color: $nothing;
}

%font-h5 {
    font-family: $font-marydale;
    font-weight: 400;
    font-style: normal;    
    font-size: 28px;
    color: $holisticRed;
}

%font-h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    color: $openSans;
}

%font-h7 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: $openSans;
}

%font-h8 {
    font-family: Zapfino;
    font-size: 24px;
    color: $brownGold;
}

%font-h9 {
    font-family: Zapfino;
    font-size: 64px;
    color: $brownGold;
}

%font-h10 {
    font-family: Papyrus;
    font-size: 115px;
    color: $holisticRed;
}

%font-h11 {
    font-family: $font-nothing;
    font-size: 80px;
    color: $nothing;
}

//Acumen Wide Pro light
%font-h12 {
    font-family: $font-acumin-wide;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    color: $acumen;
}

%font-h13 {
    font-family: marydale,sans-serif;
    font-size: 64px;
    font-weight: 400;
    font-style: normal;    
    color: $holisticRed;
}

%font-h14 {
    font-family: $font-acumin-wide;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: $brownGold;
}

%font-h15 {
    font-family: $font-openSans;
    font-weight: 700;
    font-size: 21px;
    color: $brownGold;
}

//Acumen Pro Black
%font-p16 {
    font-family: $font-acumin;
    font-size: 19px;
    font-weight: 800;
    font-style: normal;
    color: $brownGold;
}

//Acumen Pro Wide Regular
%font-p1 {
    font-family: $font-acumin-wide;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    color: $brownGold;
}

%font-p2 {
    //P2	Montserrat Light 11 pt,15 px $Black(13 pt, 17 \px between the lines,10 pt,13 px betwn letters)
    font-family: $font-montserrat;
    font-weight: 300;
    font-size: 18px;
    color: $black;
}

//Acumen Pro Wide Light
%font-p3 {
    font-family: $font-acumin-wide;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    color: $brownGold;
}

%font-p4 {
    font-family: 'Open Sans Semi Bold ';
    font-size: 18px;
    color: $openSans;
}

//Acumen Pro Wide Light
%font-p5 {
    font-family: $font-acumin-wide;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    color: $brownGold;
}

//Acumen Pro Wide Regular
%font-p6 {
    font-family: $font-acumin-wide;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    color: $brownGold;
}

//Acumen Pro Light
%font-p7 {
    font-family: $font-acumin;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    color: $black;
}

//Acumen Pro Wide Light
%font-p8 {
    font-family: $font-acumin-wide;
    font-size: 19px;
    font-style: normal;
    font-weight: 300;
    color: $brownGold;
}

//Acumen Pro Wide Light
%font-p9 {
    font-family: $font-acumin-wide;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    color: $brownGold;
}


%green-background {
    background-color: rgba(153, 204, 153, .2);
    box-shadow: 0px 0px 10px 20px rgba(153, 204, 153, .2);
    border-radius: 20px;

}

// @import 'logo';
// .foot {
//     // border: 3px solid red;
//     background-color: #F6F8F9;
//     width: 100%;
//     height: 80px;
//     margin: 0 auto;
//     display: flex;
//     justify-content: space-around;
//     align-content: center;
//     padding-top: 50px;
//     &__text {
//         font-size: 20px;
//         padding-top: 15px;
//     }
// }
.spacer30 {
    height: 30px;
}
.spacer20 {
    height: 20px;
}

.spacer10 {
    height: 10px;
}

@font-face {
    font-family: "WizardsMagic";
    src: url("../fonts/Wizards Magic.ttf");
}

@mixin wizard-font {
    font-family: WizardsMagic;
    font-size: 16;
    font-weight: bold;
}
@mixin dancing-font {
    font-family: "Dancing Script", cursive;
    font-size: 64px;
    font-weight: bold;
}

@mixin min-width-mixin($arg) {
    @media screen and (min-width: $arg) {
        @content;
    }
}

@mixin min-max-width-mixin($arg1, $arg2) {
    @media screen and (min-width: $arg1) and (max-width: $arg2) {
        @content;
    }
}

@mixin max-width-mixin($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}
$font-size: 16px;

.button {
    background-color: #13534c;
    width: 250px; //193px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 15px;
    color: white;
}
.button:hover {
    height: 40px;
}


.add2cart-popup {
    display: none;
    // position: fixed;
    // bottom: 50%;
    // right: 50%;
    // transform: translateX(-50%);
    // transform: translateY(-50%);
    border: 3px solid #f1f1f1;
    z-index: 9;
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
    margin-left: 50px;
    width: 217px;


    /* Add styles to the form container */
    .form-container {
        // outline: 2px solid red;
        max-width: 300px;
        padding: 10px;
        background-color: white;

        /* Full-width input fields */
        input[type="text"],
        input[type="number"],
        input[type="password"] {
            width: 30%;
            // padding: 15px;
            margin: 5px 0 22px 0;
            // border: none;
            // background: #f1f1f1;
        }

        /* When the inputs get focus, do something */
        input[type="text"]:focus,
        input[type="password"]:focus {
            background-color: #ddd;
            outline: none;
        }

        /* Set a style for the submit/login button */
        .btn {
            // background-color: #4CAF50;
            // color: white;
            // padding: 16px 20px;
            // border: none;
            // cursor: pointer;
            // width: 50%;
            // margin-bottom: 10px;
            // opacity: 0.8;

            background-color: #13534c;
            width: 193px;
            height: 30px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            border-radius: 15px;
            color: white;
            text-align: center;
        }

        /* Add a red background color to the cancel button */
        .cancel {
            // background-color: red;
        }

        /* Add some hover effects to buttons */
        .btn:hover,
        .open-button:hover {
            opacity: 1;
        }
    }
    // display: none; 
}

.btn {
    background-color: #4caf50;

    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;

    width: 250px;
    height: 50px;
    font-size: 25px;
    margin: 0 auto;

    text-decoration: none;
}
.btn-link {
}

.btn:hover {
    background-color: #45a049;
}




@import "menu2";
@import "logo";
// @import "footer";
@import "banner";
@import "footer1";
@import "header";