/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2019, 12:27:39 AM
    Author     : Norm
*/

$breakPoint1: 800px;
$breakPoint2: 400px;
$menuBrkPt1: 700px;
$menuBrkPt2: 700px;

$text-color: white;
$text-color: red;


.header {
    * {
        box-sizing: border-box;
      }
    
    width: 100%;
    max-width: 4200px;
    margin: 0 auto;
    // position: fixed;
    // top: -1px;
    // padding-right: 15px;
    // left: -10px;
    display: grid;
    grid-template-areas: "banner menu-wide";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    z-index: 10;
    @include max-width-mixin($breakPoint1) {
        // grid-template-areas: "banner menu-narrow ";
        // grid-template-columns: 3fr 1fr;
        grid-template-areas: "menu-narrow banner ";
        grid-template-columns: 4fr 1fr;
    }
    align-items: center;

    .elemental-shift {
        grid-area: banner;
        text-align: center;
        @include max-width-mixin($breakPoint1) {
            text-align: left;
        }    
        /*border: 3px solid red;*/
        @extend %font-h1;
        font-size: 73px;
        @include max-width-mixin(450px) {
            font-size: 60px;
        }
        @include max-width-mixin(400px) {
            font-size: 48px;
        }

    }

    .nav {
        box-sizing: border-box;
        .nav__wide {
            // border: 3px solid red;
            color: white;
            grid-area: menu-wide;
            @extend %menu-style-wide;
            @include max-width-mixin($breakPoint1) {
                display: none;
            }
            a {
                text-decoration: none;
                color: white;
                font-weight: normal;
            }
        }
        .nav__narrow {
            // border: 3px solid red;
            // height: $banner-height
            // width: 100%;
            grid-area: menu-narrow;
            display: none;
            @extend %menu-style-narrow;
            @include max-width-mixin($breakPoint1) {
                display: flex;
            }
            padding-bottom: 10px;
        }
    }

    %menu-style-wide  {
        z-index: 10;
        ul {
            // position: fixed;
            top: 0px;
            display: flex;
            justify-content: space-around;
            align-content: center;
            list-style-type: none;
            padding: 0;
            padding-top: 100px;
            margin: 0;
            // margin-right: 32.5px;
            overflow: hidden;
            font-family: Arial; //$font-openSans;
            font-size: 16px;
            color: white;
            font-weight: bold;
            background-color: $menu-background-color;
            // border-radius: 15px;
            height: $banner-height;
            // width: 95%;

            li a, .dropbtn {
                display: inline-block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                text-decoration-color: white;
            }

            li a:hover, .dropdown:hover .dropbtn {
                /*background-color: red;*/
                text-decoration: underline;
                text-decoration-color: white;
            }

            li.dropdown {
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                /*min-width: 160px;*/
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 5;
            }

            .dropdown-content a {
                color: white;
                /*padding: 12px 16px;*/
                padding-top: 12px;
                padding-bottom: 12px;
                text-decoration: none;
                display: block;
                text-align: left;
            }

            /*.dropdown-content a:hover {background-color: #f1f1f1}*/
            .dropdown-content a:hover {
                background-color: white
                    /*text-decoration: underline;*/
            }

            .dropdown:hover .dropdown-content {
                display: block; 
            }         
        }
    }

    %menu-style-narrow {
        // border: 3px solid red;
        z-index: 10;
        // padding-bottom: 5px;
        // display: flex;
        flex-direction: column;
        height: $banner-height;
        text-align: right;
        align-self: right;

        ul {
            // border: 3px solid blue;
            // z-index: 10;
            // position: relative;
            // top: -10px;
            height: 45px;
            // width: 70px;
            // border: 2px solid blue;
            display: block;
            // width: 100px;
            // height: 100px;

            padding: 0;
            margin: 0;
            // overflow: hidden;
            color: white;
            // border-radius: 15px;
            font-family: $font-openSans;
            font-size: 22px;
            // padding-right: 100px;
            
            .hamburger {
                display: block;
                width: 25px;
                height: 3px;
                background-color: white;
                margin: 6px 0;
            }

            li a, .dropbtn {
                display: inline-block;
                color: black;
                text-align: center;
                // padding: 14px 16px;
                padding-left: 15px;
                padding-right: 15px;
                // padding-top: -15px;
                text-decoration: none;
            }
            li a:link {
                // text-decoration: none;
            }

            li a:hover, .dropdown:hover .dropbtn {
                /*background-color: red;*/
                text-decoration: underline;
            }

            li.dropdown {
                display: inline-block;

            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 10;
                right: 30px;
            }

            .dropdown-content a {
                color: black;
                /*padding: 12px 16px;*/
                // padding-top: 12px;
                padding-bottom: 12px;
                text-decoration: none;
                display: block;
                text-align: left;
                z-index: 10;
            }

            /*.dropdown-content a:hover {background-color: #f1f1f1}*/
            .dropdown-content a:hover {
                background-color: white;
                text-decoration: none;
            }

            .dropdown:hover .dropdown-content {
                display: block; 
            }         
        }
        padding-bottom: 25px;
    }
}


