/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2018, 10:01:37 AM
    Author     : Norm
*/

@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans:400,400i,600,700,800");
// $menu-background-color: #13534C;
@import "common";
// $menu-background-color: #DBE3F6;

main {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    font-size: 28px;
    /*word-spacing: -5px;*/
    /*letter-spacing: 20px;*/
    border: 1px solid black;

    // background-image: url("../images/hero_1_sliceocountry.jpg");
    // background-image: url("../images/Boothbay-Harbor-1c.jpg");
    // @include max-width-mixin(900px) {
    // @include min-width(900px) {
    // background-image: url("../images/Boothbay-Harbor-1-b-780x585.jpg");
    // }
    // }
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    @include dancing-font;
    /*  font-family: 'Allura', cursive;
      font-family: 'Zeyada', cursive;*/

    .top-section {
        background-image: url("../images/Boothbay-Harbor-2.jpg");
        width: 100%;
        // height: 40vh;
        // @include max-height-mixin(500px) {
        //     height: auto;
        // }
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: middle;
        background-position-y: 40%;
        margin: 0 auto;
        margin-bottom: 25px;

        .top-content {
            // border: 3px solid green;
            padding: 30px 20px 0px 20px;
            padding-bottom: 50px;
            color: white;
            width: 100%;
            margin: 0 auto;
            position: static;

            .boards-heading {
                // border: 3px solid blue;
                margin: 0 auto;
                min-width: 250px;
                font-family: "Raleway", sans-serif;
                // font-family: "Chilanka", cursive;
                text-align: center;
                font-weight: bold;
                font-size: 44px;
                @include max-width-mixin(700px) {
                    font-size: 28px;
                }
                margin-bottom: 25px;
                // .jams-heading__text {
                background-color: rgba(19, 83, 76, 0.5);
                // }

                // @include max-width-mixin(1200px) {
                //     width: 80%;
                // }
                display: inline-block;
            }

            .boothbay {
                // border: 3px solid red;
                margin: 0 auto;
                // width: 100%;
                text-align: center;
                font-size: 24px;
                font-family: Arial, Helvetica, sans-serif;
                // font-family: "Chilanka", cursive;
                // bottom: 10%;
                // left: 10%;
                @include max-width-mixin(700px) {
                    font-size: 20px;
                }
                background-color: rgba(19, 83, 76, 0.5);
                display: inline-block;
            }

            .sarah-info {
                display: none;
                // border: 3px solid red;
                width: 280px;
                @include max-height-mixin(600px) {
                    width: 180px;
                }
                height: 300px;
                // position: absolute;

                // top: 40%;
                // left: 86%;
                bottom: 25%;
                @include max-height-mixin(600px) {
                    bottom: 10%;
                }
                right: 0px;
                // transform: translateX(-50%);
                // top: 0%;
                // left: 76%;

                .sarah-image {
                    // width: 250px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 36px;
                    font-weight: normal;
                    color: white;
                    .box32 {
                        font-size: 16px;
                        font-weight: bold;
                    }

                    img {
                        width: 240px;
                        width: 7em;
                        width: 90%;
                    }
                }
                .sarah-text {
                    // border: 3px solid red;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                    font: Regular 24px/29px Raleway;
                    // font-size: 24px;
                    background-color: rgba(19, 83, 76, 0.5);
                    font-family: "Raleway", sans-serif;
                    letter-spacing: 0px;
                    color: #ffffff;
                }
            }

            .sarah-pic {
                // border: 3px solid red;
                grid-area: sarah-pic;
                width: 100%;
                text-align: left;
                margin: 0 auto;
                justify-self: center;
                padding-top: 20px;

                // padding-left: 100px;
                img {
                    min-width: 150px;
                    max-width: 250px;
                }
                @include max-width-mixin(690px) {
                    text-align: center;
                }
                .sarah-cert {
                    // border: 3px solid red;
                    grid-area: sarah-cert;
                    width: 100%;
                    font-size: 16px;
                    font-family: Helvetica Neue;
                    padding-left: 0px;
                    justify-self: right;
                    text-align: left;
                    // padding-left: 400px;
                    @include max-width-mixin(900px) {
                        // padding-left: 300px;
                    }
                    @include max-width-mixin(690px) {
                        // display: none;
                        text-align: center;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }

    $breakpt1: 700px;
    .boards {
        // border: 3px solid blue;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        // grid-template-columns: 1fr 1fr;
        max-width: 1200px;
        @include max-width-mixin(1450px) {
            grid-template-columns: 1fr 1fr;
            max-width: 770px;
        }
        @include max-width-mixin($breakpt1) {
            padding-left: 0px;
            grid-template-columns: 1fr;
            margin: 0 auto;
            text-align: center;
            justify-items: center;
        }
        @include max-width-mixin(350px) {
            justify-items: left;
            text-align: left;
        }

        .board-box {
            // border: 3px solid red;
            // width: 350px;
            // height: 350px;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            // justify-self: stretch;
            font-size: 20px;
            padding-left: 0px;
            margin: 0 auto;
            text-align: left;
            justify-items: center;
            @include max-width-mixin($breakpt1) {
                padding-left: 0px;
                text-align: left;
                justify-items: left;
            }
            // padding-left: 10px;
            // padding-right: 10px;
        }
    }

    .boards1 {
        // border: 3px solid blue;
        width: 70%;
        @include max-width-mixin(1000px) {
            width: 80%;
        }
        @include max-width-mixin(900px) {
            width: 90%;
        }
        @include max-width-mixin(800px) {
            width: 100%;
        }
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        max-width: 1200px;

        .board-block {
            // border: 3px solid red;
            margin: 0 auto;
            width: 100%;
            display: flex;
            justify-content: space-around;
            @include max-width-mixin(750px) {
                flex-direction: column;
            }

            .board-box {
                // border: 3px solid red;
                height: 350px;
                @include max-width-mixin(750px) {
                    width: 350px;
                    height: auto;
                }
                color: black;
                font-family: Arial, Helvetica, sans-serif;
                // justify-self: stretch;
                font-size: 20px;
                padding-left: 0px;
                margin: 0 auto;
                // text-align: left;
                justify-items: center;
                margin-bottom: 15px;
            }
        }

        .image {
            @include max-width-mixin(350px) {
                max-width: 300px;
                padding-left: 0;
                text-align: center;
            }
            img {
                height: 350px;
                width: 350px;
                @include max-width-mixin(350px) {
                    height: 300px;
                    width: 300px;
                }
            }
        }

        .copy {
            background-color: white;
            opacity: 0.8;
            // max-width: 350px;
            width: 60%;
            text-align: left;
            border: 1px solid black;
            // margin-bottom: 15px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 20px;
            margin-bottom: 50px;
            height: 100%;
            padding-bottom: 20px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include max-width-mixin(350px) {
                max-width: 300px;
                padding-left: 0;
                text-align: left;
                justify-items: left;
            }
            @include max-width-mixin(350px) {
                // height: 350px;
                width: 300px;
                width: 100%;
            }
            @include max-width-mixin($breakpt1) {
                padding-left: 0px;
                text-align: left;
                justify-items: left;
                padding-left: 10px;
                padding-right: 10px;
            }
            .small-logo {
                padding-left: 15px;
                padding-right: 5px;
            }

            .logo {
            }
            .name {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 32px;
                font-weight: bold;
                @include max-width-mixin(350px) {
                    font-size: 28px;
                }
                padding-left: 15px;
                padding-right: 5px;
            }
            .text {
                font-size: 16px;
                padding-left: 15px;
                padding-right: 5px;
            }
            .button-box {
                text-align: center;
                margin: 0 auto;
                align-items: center;

                // .board-button {
                //     background-color: #13534c;
                //     width: 250px; //193px;
                //     height: 30px;
                //     font-family: Arial, Helvetica, sans-serif;
                //     font-size: 20px;
                //     border-radius: 15px;
                //     color: white;
                // }
            }
        }
    }

    .filler {
        display: none;
        @include max-width-mixin(1450px) {
            padding-left: 0px;
            grid-template-columns: 1fr;
            display: none;
        }
    }
}
