/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2018, 10:01:37 AM
    Author     : Norm
*/

@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans:400,400i,600,700,800");
// $menu-background-color: #13534C;
@import "common";

main {
    max-width: 4200px;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
    // height: 100vh;
    /*word-spacing: -5px;*/
    /*letter-spacing: 20px;*/

    .php-output {
        color: red;
        font-family: Arial;
        font-size: 22px;
    }
    .text {
        .large-text {
            font-size: 62px;
        }
        .under-construction {
            font-size: 16px;
        }
    }
    .small-text {
        font-size: 28px;
        letter-spacing: 2px;
        word-spacing: -10px;
        font-weight: bold;
    }
    @include dancing-font;
    /*  font-family: 'Allura', cursive;
      font-family: 'Zeyada', cursive;*/

    .top-section {
        // border: 3px solid red;
        width: 100%;
        height: calc(var(--vh, 1vh) * 89);
        height: 89vh;

        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../images/rake2.jpg");
        @include max-width-mixin(600px) {
            background-image: url("../images/blueberry copy.png");
        }

        // *******************************************************************

        .top-content {
            // border-radius: 15px;
            color: white;
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;

            .top-box {
                // border: 3px solid red;
            }

            .tag-line1 {
                // border: 3px solid blue;
                display: none;
                width: 100%;
                height: 300px;
                font-size: 24px;
                font-weight: bold;
                font-family: "Chilanka", cursive;
                // display: flex;
            }

            .jams-heading {
                // border: 3px solid blue;
                font-size: 38px;
                @include max-width-mixin(700px) {
                    font-size: 30px;
                }
                font-family: "Raleway", sans-serif;
                font-weight: bold;
                .jams-heading__text {
                    background-color: rgba(19, 83, 76, 0.5);
                }

                position: absolute;
                top: 40%;
                @include max-width-mixin(700px) {
                    top: 45%;
                }
                left: 14.8%;
                @include max-width-mixin(800px) {
                    left: 5%;
                }
                @include max-height-mixin(650px) {
                    top: 55%;
                }
                @include max-height-mixin(450px) {
                    top: 45%;
                }
            }

            .small-batches {
                background-color: rgba(19, 83, 76, 0.5);
                // border: 3px solid red;
                max-width: 1200px;
                width: auto;
                font-size: 24px;
                font-family: Arial, Helvetica, sans-serif;

                // font: Bold 38px/49px Raleway;
                font-family: "Raleway", sans-serif;
                font-weight: bold;
                font-size: 35px;
                @include max-width-mixin(700px) {
                    font-size: 28px;
                }

                letter-spacing: 0px;
                color: #ffffff;
                text-align: left;

                position: absolute;
                // top: 85%;
                bottom: 0%;
                transform: translateY(-50%);

                left: 14.5%;
                @include max-width-mixin(800px) {
                    left: 5%;
                }
                @include max-width-mixin(400px) {
                    font-size: 24px;
                    text-align: center;
                    padding-bottom: 10px;
                }
                @include max-height-mixin(450px) {
                    // top: 45%;
                }
            }

            .sarah-info {
                // border: 3px solid red;
                width: 240px;
                @include max-width-mixin(700px) {
                    width: 150px;
                }
                @include max-width-mixin(525px) {
                    display: none;
                }
                // height: 300px;
                position: absolute;

                top: 0%;
                // left: 86%;
                right: 0px;
                // transform: translateX(-50%);
                // top: 0%;
                // left: 76%;

                .sarah-image {
                    // width: 250px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 36px;
                    font-weight: normal;
                    color: white;
                    .box32 {
                        font-size: 16px;
                        font-weight: bold;
                    }

                    img {
                        width: 240px;
                        width: 7em;
                        width: 90%;
                    }
                }
                .sarah-text {
                    // border: 3px solid red;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                    font: Regular 24px/29px Raleway;
                    // font-size: 24px;
                    background-color: rgba(19, 83, 76, 0.5);
                    font-family: "Raleway", sans-serif;
                    letter-spacing: 0px;
                    color: #ffffff;
                }
            }

            .sarah-pic {
                // border: 3px solid red;
                grid-area: sarah-pic;
                width: 100%;
                text-align: right;
                margin: 0 auto;
                justify-self: center;
                // padding-top: 20px;

                // padding-left: 100px;
                img {
                    min-width: 150px;
                    max-width: 200px;
                }
                @include max-width-mixin(600px) {
                    text-align: right;
                }
                .sarah-cert {
                    // border: 3px solid red;
                    background-color: rgba(19, 83, 76, 0.5);
                    grid-area: sarah-cert;
                    width: 100%;
                    font-size: 16px;
                    font-family: Helvetica Neue;
                    padding-left: 0px;
                    justify-self: right;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    // padding-left: 400px;
                    @include max-width-mixin(900px) {
                        // padding-left: 300px;
                    }
                    @include max-width-mixin(600px) {
                        // display: none;
                    }
                }
            }
        }
    }

    // *********************************************************************

    $breakPt2: 700px;
    $breakPt3: 500px;

    .size-text-narrow {
        border: 3px solid green;
        // padding-top: 30px;
        display: none;
        height: 0;
        font-family: Raleway;
        font-size: 24px;
        color: #000000;
        font-weight: normal;
        text-align: center;
        // padding-left: 25px;
        @include max-width-mixin($breakPt2) {
            display: block;
            height: auto;
        }
        @include min-width-mixin($breakPt3) {
            padding-bottom: 60px;
        }
    }

    .middle-section {
        // border: 3px solid blue;
        padding-top: 25px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;

        h2 {
            font-size: 32px;
            // font-size: 60%;
            font-family: Raleway;
            font-weight: normal;
            text-align: center;
        }

        .middle-box {
            // border: 3px solid red;
            display: flex;
            justify-content: space-between;
            @include max-width-mixin(600px) {
                flex-direction: column;
            }

            .jar-size {
                width: 100%;
                img {
                    width: 300px;
                    height: 300px;
                    @include max-width-mixin(1200px) {
                        width: 200px;
                        height: 200px;
                    }
                    @include max-width-mixin(800px) {
                        width: 150px;
                        height: 150px;
                    }
                    @include max-width-mixin(600px) {
                        width: 200px;
                        height: 200px;
                    }
                }
                @include max-width-mixin(600px) {
                    margin-bottom: 20px;
                }
            }
        }

        .size-text {
        }

        .spec-text {
            font-family: Raleway;
            font-size: 24px;
            color: #000000;
            font-weight: normal;
            @include max-width-mixin(800px) {
                font-size: 20px;
            }
            @include max-width-mixin(500px) {
                font-size: 16px;
            }

            @include max-width-mixin($breakPt2) {
                // display: none;
            }
        }

        margin-bottom: 50px;
    }

    // ********************************************************************
    $breakpt1: 700px;

    $brkpt2: 400px;

    .jams1 {
        // outline: 3px solid red;
        margin: 0 auto;

        // border: 3px solid blue;
        width: 80%;
        @include max-width-mixin(1000px) {
            width: 80%;
        }
        @include max-width-mixin(900px) {
            width: 90%;
        }
        @include max-width-mixin(800px) {
            width: 100%;
        }
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        align-items: center;

        @include max-width-mixin($brkpt2) {
            max-width: 300px;
        }

        .jam-block {
            // border: 3px solid red;
            margin: 0 auto;
            width: 100%;
            // padding-right: 15px;
            // padding-left: 15px;
            display: flex;
            justify-content: space-around;
            @include max-width-mixin(750px) {
                flex-direction: column;
            }
            @include max-width-mixin(400px) {
            }

            .jam-box1 {
                // border: 3px solid red;
                height: 350px;
                @include max-width-mixin(750px) {
                    width: 350px;
                    height: auto;
                }
                color: black;
                font-family: Arial, Helvetica, sans-serif;
                // justify-self: stretch;
                font-size: 20px;
                padding-left: 0px;
                margin: 0 auto;
                // text-align: left;
                justify-items: center;
                margin-bottom: 15px;
                display: flex;

                @include max-width-mixin(400px) {
                    width: 100%;
                }

                .form-container {
                    // outline: 1px solid red;

                    .qty-block {
                        // outline: 1px solid black;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        @include max-width-mixin(600px) {
                            flex-direction: column;
                        }
                        justify-content: space-evenly;
                        align-items: center;

                        // padding-left: 2px;
                        // padding-right: 2px;

                        div {
                            // outline: 3px solid red;
                            display: flex;

                            .qty-input-block {
                                // outline: 2px solid red;
                                height: 100%;
                                // width: 100%;
                                input[type="number"] {
                                    width: 20px;
                                    font-size: 18px;
                                    margin: 0;
                                }
                                input[type="text"] {
                                    text-align: right;
                                    width: 30px;
                                    font-size: 18px;
                                    margin: 0;
                                }
                            }

                            .plus-minus-block {
                                // outline: 2px solid red;
                                // width: 25px;
                                // height: 30px;
                                // padding-left: 2px;
                                // padding-right: 2px;

                                button {
                                    font-weight: bold;
                                    width: 25px;
                                    height: 26px;
                                    align-items: center;
                                    // border-radius: 0%;
                                    border-color: lightness($color: #000000);
                                    border: 1px solid lightgrey;
                                    background-color: #f0f0f0;
                                    // background-color: #ffffff;
                                    // border: 1px solid black;
                                    color: black;
                                    // color: white;
                                    // padding: 10px 25px;
                                    text-align: center;
                                    text-decoration: none;
                                    // display: inline-block;
                                    font-size: 16px;
                                    // &:first-child {
                                    //     margin-bottom: 2px;
                                    // }
                                }
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }

        .image {
            @include max-width-mixin($brkpt2) {
                max-width: 300px;
                padding-left: 0;
                text-align: center;
            }
            img {
                height: 350px;
                width: 350px;
                @include max-width-mixin($brkpt2) {
                    height: 300px;
                    width: 300px;
                    width: 100%;
                }
            }
        }

        .jam-copy {
            // max-width: 350px;
            width: 60%;
            text-align: left;
            border: 1px solid black;
            // margin-bottom: 15px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 20px;
            // margin-bottom: 50px;
            height: 100%;
            padding-bottom: 20px;
            position: relative;

            display: flex;
            flex-direction: column;
            // justify-content: space-between;

            @include max-width-mixin($brkpt2) {
                max-width: 300px;
                padding-left: 0;
                text-align: left;
                justify-items: left;
            }
            @include max-width-mixin($brkpt2) {
                // height: 350px;
                width: 300px;
                width: 100%;
            }
            @include max-width-mixin($breakpt1) {
                padding-left: 0px;
                text-align: left;
                justify-items: left;
                padding-left: 10px;
                padding-right: 10px;
            }
            .small-logo {
                padding-left: 15px;
                padding-right: 5px;
            }

            .logo {
            }
            .name {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 32px;
                font-weight: bold;
                @include max-width-mixin($brkpt2) {
                    font-size: 28px;
                }
                padding-left: 15px;
                padding-right: 5px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .text {
                font-size: 16px;
                padding-left: 15px;
                padding-right: 5px;
                margin-bottom: 20px;
            }
            .text--special {
                // border: 3px solid red;
                width: 350px;
                font-size: 16px;
                // padding-left: 50px;
                // padding-right: 5px;
                text-align: center;
                a {
                    text-decoration: inherit;
                    color: inherit;
                }
            }

            .button-box {
                text-align: center;
                margin: 0 auto;
                align-items: center;
                position: absolute;
                bottom: 0;
                margin-top: 20px;
                margin-bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        align-items: center;
    }

    .bottom-block {
        border: 6px solid #13534c;
        border-radius: 56px;
        opacity: 1;
        margin: 0 auto;
        width: 90%;
        // margin-bottom: 20px;
        padding-right: 20px;
        padding-top: 15px;
        padding-bottom: 10px;

        display: grid;
        grid-template-columns: 2fr 1fr;
        @include max-width-mixin(750px) {
            // display: flex;
            // flex-direction: column;
            grid-template-columns: 1fr;
            border-radius: 0px;
            border: 0px;
        }
        .looking {
            width: 100%;
        }

        img {
            // width: 70%;
            // min-width: 250px;;
            // height: auto;
            // width: 350px;
            // height: 350px;
            width: 100%;
            @include max-width-mixin(750px) {
                width: 70%;
                min-width: 250px;
                display: flex;
                justify-self: center;
                padding: 0;
                margin: 0 auto;
            }
        }

        div {
            // outline: 3px solid red;
            font: var(--unnamed-font-style-normal) normal bold 29px/34px Raleway;
            letter-spacing: var(--unnamed-character-spacing-0);
            text-align: left;
            font: normal normal bold 29px/34px Raleway;
            letter-spacing: 0px;
            color: #13534c;
            opacity: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            // padding-left: 25px;
            // padding-right: 25px;
            @include max-width-mixin(1100px) {
                padding-left: 15px;
                padding-right: 15px;
                font-size: 25px;
            }
            @include max-width-mixin(400px) {
                padding-left: 0px;
                padding-right: 0px;
                font-size: 24px;
                align-items: center;
            }

            div {
                font: var(--unnamed-font-style-normal) normal bold 29px/34px Raleway;
                letter-spacing: var(--unnamed-character-spacing-0);
                text-align: left;
                font: normal normal bold 29px/34px Raleway;
                letter-spacing: 0px;
                color: #13534c;
                opacity: 1;
                padding: 10px;
            }
            .email-me {
                color: #13534c;
                text-decoration: none;
                text-decoration: underline;
            }
        }
    }
}
